<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="XMLConfig" monitorInterval="5">
	<Appenders>
		<Appender type="Console" name="SYSOUT">
			<PatternLayout
				pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=White, DEBUG=Cyan, TRACE=Blue}" />
		</Appender>
		<RollingFile name="FILE" fileName="${sys:directory}/temp/foxtrot.log"
			filePattern="${sys:directory}/temp/foxtrot-%i.log">
			<Layout type="PatternLayout" pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy minSize="1" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
			<Filters>
				<Filter type="ThresholdFilter" level="INFO" onMatch="NEUTRAL" onMismatch="DENY" />
			</Filters>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="SYSOUT" />
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>
</Configuration>